.listeprogrammebut{ display: flex;
flex-direction: row;
flex-wrap: nowrap;}

.programme{margin-left: 5px;
margin-right: 5px;
padding: 3px;
border: black solid 3px;
border-radius: 5px;
text-align: center;}


.programme div{color: white;}

a{text-decoration: none;}