{% extends 'monapp/base.html' %}
{% load static %}
{% load monapp.durée_format %}

{% block extra_css %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" >
{% endblock %}

{% block content %}
<div class="w3-container ">
    <div class="w3-container w3-flex">
        {% if utilisateur.profile_photo %}
        <img class="w3-circle" style="height: 150px; width: 150px;object-fit: cover;" src="{{utilisateur.profile_photo.url}}" >
        {% else %}
        <img class="w3-circle" style="height: 150px; width: 150px;object-fit: cover;" src="https://www.svgrepo.com/show/452030/avatar-default.svg" >
        {% endif %}
        <h3>{{utilisateur.get_username}}</h3>
        
    </div>
    <br>
    <div class="w3-container w3-flex" style="gap: 15px;">
        <div class="w3-dropdown-hover">Abonnés : <span class="w3-button">{{abonnes}}</span>
            <div class="w3-dropdown-content w3-border w3-bar-block">
                {% for abonne in abonnes_dt %}
                <a class="w3-bar-item" href="{% url 'profil-utilisateur' abonne.id %}">{{abonne.get_username}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="w3-dropdown-hover">Abonnements : <span class="w3-button">{{abonnements}}</span>
            <div class="w3-dropdown-content w3-border w3-bar-block">
                {% for abonnement in abonnements_dt %}
                <a class="w3-bar-item" href="{% url 'profil-utilisateur' abonnement.id %}">{{abonnement.get_username}}</a>
                {% endfor %}
            </div>
        </div>
           
    </div>
    <br>
    <div class="w3-button w3-border w3-black w3-text-white w3-round-large "><a style="text-decoration: none;" href="{% url 'upload-profile' utilisateur.id %}">Modifier</a></div>

</div>


<br><br><br><br><br>
<div class="w3-container w3-flex" style="gap:15px">
    <div class="w3-container w3-card w3-round">
        <h2>Vos activités du mois ({{mois_actuel}}) :</h2>
        {% if activites_du_mois %}
        <div> Vous avez fait {{activites_du_mois|length}} activités ce mois-ci, dont :</div>
        <div>{{nb_activites_technique_mois}} pour la technique</div>
        <div>{{nb_activites_puissance_mois}} pour la puissance</div>
        <div>{{nb_activites_endurance_mois}} pour l'endurance</div>
        <div>{{nb_activites_autre_mois}} avec un autre but</div>
        <div>{{nb_activites_grimpe_libre_mois}} en grimpe libre</div>
        <div>Durée totale de vos activités : {{duree_totale_mois|durée_format}}</div>
        {% else %}
        <div>Vous n'avez pas enregistré d'activités ce mois-ci</div>
        {% endif %}

        
    </div>
    <div class="w3-container w3-card w3-round">
        <h2>Vos activités de l'année ({{annee_actuelle}}):</h2>
        {% if activites_annee %}
        <div> Vous avez fait {{activites_annee|length}} activités cette année, dont:</div>
        <div>{{nb_activites_technique_annee}} pour la technique</div>
        <div>{{nb_activites_puissance_annee}} pour la puissance</div>
        <div>{{nb_activites_endurance_annee}} pour l'endurance</div>
        <div>{{nb_activites_autre_annee}} avec un autre but</div>
        <div>{{nb_activites_grimpe_libre_annee}} en grimpe libre</div>
        <div>La durée totale de vos activités cette année est de {{duree_totale_annee|durée_format}}</div>
        {% else %}
        <div>Vous n'avez pas enregistré d'activité du tout cette année</div>
        <a href="{% url 'ajouter-activité' utilisateur.id %}">Enregistrez une activité sans programme</a>
        <div>Pour utiliser une activité dans un programme, appuyez sur un programme dans la bibliothèque</div>
        {% endif %}
    </div>
</div>
<br><br>
    <div>
        {% if activites_utilisateur %}
        <div>Votre dernière activité :</div>
        <br>
        <div style="width:200px;" class=" w3-container w3-center w3-card w3-hover-white w3-blue">
        <a class="w3-button" style="text-decoration: none;" href="{% url 'activité-détails' derniere_activite.id %}">
          <div >{{utilisateur.prénom}} {{utilisateur.nom}}</div>
          <div >{{derniere_activite.date}}</div>
          <div>{{derniere_activite.but}}</div>

          {% if derniere_activite.programme or derniere_activite.programmecréé  %}
          <div>Programme inclus</div>
          {% endif %}
     

          <div >{{derniere_activite.durée|durée_format}}</div>
        </a></div>
        {% endif %}
    </div>
<br><br><br>
<h4>Vos photos :</h4>
    {% for photo in photos %}
    <img style="height: 150px; width: 150px;object-fit: cover;" src="{{photo.image.url}}">
    {% endfor %}
<div><a class="w3-button w3-border w3-black w3-text-white w3-round-xlarge" style="text-decoration: none;" href="{% url 'ajouter-photo' utilisateur.id %}">Ajouter des photos</a> </div>
{% endblock %}
