{% extends 'monapp/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'monapp/activité_détails.css' %}">
{% endblock %}

{% load monapp.durée_format %}

{% block content %}
<h1>Activité du {{activité.date}}</h1>
<div>{{activité.description}}</div>
<br>
{% if activité.programme %}
<div><a href="{% url 'programme-détails' programme.id utilisateur.id %}">Vous avez fait ce programme : {{programme.titre}}</a></div>
<br>
{% endif %}


<div>Cette activité a duré {{activité.durée|durée_format}}</div>
<br><br>
<a class="w3-blue" href="{% url 'modifier-activité' activité.id %}">Modifier l'activité</a>
<a class="w3-red" href="{% url 'supprimer-activité' activité.id %}">Supprimer l'activité</a>
<br><br>
{% if photos %}
    {% for photo in photos %}
    <img style="height: 150px; width: 150px;object-fit: cover;" src="{{photo.image.url}}">
    {% endfor %}
{% else %}
<div>Vous n'avez aucune photo liée à l'activité</div>
{% endif %}
<div><a class="w3-button w3-border w3-black w3-text-white" style="text-decoration: none;" href="{% url 'ajouter-activite-photo' activité.id utilisateur.id %}">Lier une photo</a></div>

{% endblock %}