{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'monapp/base.css' %}">
        {% block extra_css %}{% endblock %} 
        <!-- pour permettre de lier un html à un css propre à lui -->
    </head>
    <body>
        
        {% block content %}{% endblock %}
        <footer>
            <a href="{% url 'accueil-utilisateur' utilisateur.id %}">Accueil</a>
            <a href="{% url 'liste-activités' utilisateur.id %}">Activités</a>
            <a href="{% url 'liste-programmes' utilisateur.id %}">Bibliothèque de programme</a>
        </footer>
    </body>
</html>