{% extends 'monapp/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'monapp/liste_programmes.css' %}">
{% endblock %}




{% block content %}
    <h1>Voici la liste des programmes d'entraînement</h1>
    <h2>Nos programmes :</h2>

    <h4>Technique :</h4>
    <div class="listeprogrammebut">
    {% for programme_technique in programmes_technique %}   
        <div><a href="{% url 'programme-détails' programme_technique.id %}">{{programme_technique.titre}}</a></div>   
    {% endfor %}
    </div> 

    <h4>Puissance :</h4>
    <div class="listeprogrammebut">
    {% for programme_puissance in programmes_puissance %}     
        <div><a href="{% url 'programme-détails' programme_puissance.id %}">{{programme_puissance.titre}}</a></div>    
    {% endfor %}
    </div>

    <h4>Endurance:</h4>
    <div class="listeprogrammebut">
    {% for programme_endurance in programmes_endurance %}     
        <div><a href="{% url 'programme-détails' programme_endurance.id %}">{{programme_endurance.titre}}</a></div>    
    {% endfor %}
    </div>   
      
    <h4>Autre :</h4>
    <div class="listeprogrammebut">
    {% for programme_autre in programmes_autre %}        
        <div><a href="{% url 'programmecréé-détails' programme_autre.id %}">{{programme_autre.titre}}</a></div>   
    {% endfor %}
    </div> 
    

    <br>
    <h2>Mes programmes :</h2> <!-- Ranger les programmes en fonction de leur but-->
    {% if programmescréés %}

        {% if programmescréés_technique %}
            <h4>Technique :</h4>
            <div class="listeprogrammebut">>
            {% for programmecréé_technique in programmescréés_technique %}       
                <div><a href="{% url 'programmecréé-détails' programmecréé_technique.id %}">{{programmecréé_technique.titre}}</a></div>    
            {% endfor %}
            </div>
        {% endif %}


        {% if programmescréés_puissance %}
            <h4>Puissance :</h4>
            <div class="listeprogrammebut">
            {% for programmecréé_puissance in programmescréés_puissance %}   
                <div><a href="{% url 'programmecréé-détails' programmecréé_puissance.id %}">{{programmecréé_puissance.titre}}</a></div>               
            {% endfor %}
            </div>
        {% endif %}


        {% if programmescréés_endurance %}
            <h4>Endurance:</h4> 
            <div class="listeprogrammebut">
            {% for programmecréé_endurance in programmescréés_endurance %}                                           
                <div><a href="{% url 'programmecréé-détails' programmecréé_endurance.id %}">{{programmecréé_endurance.titre}}</a></div>                
            {% endfor %}
            </div>
        {% endif %}


        {% if programmescréés_autre %}
            <h4>Autre :</h4>
            <div class="listeprogrammebut">
            {% for programmecréé_autre in programmescréés_autre %}                                                
                <div><a href="{% url 'programmecréé-détails' programmecréé_autre.id %}">{{programmecréé_autre.titre}}</a></div>
            {% endfor %}
            </div>                   
        {% endif %}


        <footer>
            <a href="{% url 'créer-programme' utilisateur.id %}">Créer un programme</a>
        </footer> <!--Car il n'y a pas forcément besoin d'en  créer comme il y en a déjà
            donc on le met pas au milieu-->



    {% else %}
        <h4>Vous n'avez pas créé de programmes</h4>
        <a href="{% url 'créer-programme' utilisateur.id %}">Créer un programme</a>
    {% endif %} <!-- Ranger les programmes en fonction de leur but-->


    <footer>
        <a href="{% url 'liste-activités' utilisateur.id %}">Mes activités</a>
        <a href="{% url 'créer-programme' utilisateur.id %}">Créer un programme</a>
    </footer>
{% endblock %}
