{% extends 'monapp/base.html' %}
{% load static %}

{% load monapp.durée_format %}

{% block extra_css %}
   <link rel="stylesheet" href="{% static 'monapp/liste_activités.css' %}">
{% endblock %}

{% block content %}
<h1>Voici les activités de {{utilisateur.prénom}} {{utilisateur.nom}}</h1>
{% for activité in activités %}
<div class="activité"><a href="{% url 'activité-détails'  activité.id %}">

   <div class=" boîte utilisateur">{{utilisateur.prénom}} {{utilisateur.nom}}</div>
   <div class=" boîte date">{{activité.date}}</div>
   <div class="boîte but">{{activité.but}}</div>

      {% if activité.programme  %}
         <div class="boîte programme_description">{{activité.programme.titre}}</div>
      {% elif activité.programmecréé %}
         <div class="boîte programme_description">{{activité.programmecréé.titre}}</div>
      {% else %}
         <div class="boîte programme_description">Appuyez pour voir la description</div>
      {% endif %}

   <div class="boîte durée">{{activité.durée|durée_format}}</div>

</a></div>

{% endfor %}
<footer>
   <a href="{% url 'ajouter-activité' utilisateur.id %}">Ajouter une activité </a>
   <a href="{% url 'liste-programmes' utilisateur.id %}">Voir les programmes</a>
</footer>

{% endblock %}