{% extends 'monapp/base.html' %}
{% load static %}

{% load monapp.durée_format %}

{% block extra_css %}
   <link rel="stylesheet" href="https://w3schools.com">
{% endblock %}

{% block content %}
<header>
<h1>Voici vos activités</h1>
<div class="w3-button w3-center w3-card-4"><a href="{% url 'ajouter-activité' utilisateur.id %}">+</a></div>
</header>
{% for activité in activités %}
<div class="w3-container"><a href="{% url 'activité-détails'  activité.id %}">

   <div >{{utilisateur.prénom}} {{utilisateur.nom}}</div>
   <div >{{activité.date}}</div>
   <div>{{activité.but}}</div>

      {% if activité.programme  %}
         <div>{{activité.programme.titre}}</div>
      {% elif activité.programmecréé %}
         <div>{{activité.programmecréé.titre}}</div>
      {% else %}
         <div>Appuyez pour voir la description</div>
      {% endif %}

   <div >{{activité.durée|durée_format}}</div>

</a></div>

{% endfor %}
<footer>
   <a href="{% url 'ajouter-activité' utilisateur.id %}">Ajouter une activité </a>
   <a href="{% url 'liste-programmes' utilisateur.id %}">Voir les programmes</a>
</footer>

{% endblock %}