<html>
 <head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" >
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>
   

 <body>
     <h1 class="w3-center">Connectez-vous</h1>
     <form method="post">
       {{ form.as_p}}
       {% csrf_token %}
       <button class="w3-button w3-blue w3-round-large" type="submit">Se connecter</button>
     </form>
     <p>Pas encore membre ? <a class="w3-text-blue" style="text-decoration: underline;" href="{% url 'signup' %}">Inscrivez-vous !</a></p>
 </body>
    
</html>