{% extends 'monapp/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" >
{% endblock %}

{% block content %}

{% if suivi == False %}
<div class="w3-container ">
    <div class="w3-container w3-flex">
        {% if utilisateur_cible.profile_photo %}
        <img class="w3-circle" style="height: 150px; width: 150px;object-fit: cover;" src="{{utilisateur_cible.profile_photo.url}}" >
        {% else %}
        <img src="{% static 'monapp/images/profil_defaut.jpg' %}" >
        {% endif %}
        <h3>{{utilisateur_cible.get_username}}</h3>
        
    </div>
    <br>
    <div class="w3-container w3-flex">
        <div>Abonnés : {{abonnes}}  </div>
        <div>Abonnements : {{abonnements}}</div>
    </div>

</div>
{% endif %}

{% if suivi == True %}
<div class="w3-container ">
    <div class="w3-container w3-flex">
        {% if utilisateur_cible.profile_photo %}
        <img class="w3-circle" style="height: 150px; width: 150px;object-fit: cover;" src="{{utilisateur_cible.profile_photo.url}}" >
        {% else %}
        <img src="{% static 'monapp/images/profil_defaut.jpg'%}" >
        {% endif %}
        <h3>{{utilisateur_cible.get_username}}</h3>
        
    </div>
    <br>
    <div class="w3-container w3-flex">
        <div>Abonnés : {{abonnes}}  </div>
        <div>Abonnements : {{abonnements}}</div>
    </div>
</div>
{% endif %}

{% endblock %}