{% extends 'monapp/base.html' %}
{% load static %}

{% block extra_css %}
   <link rel="stylesheet" href="{% static 'monapp/programme_détails.css' %}">
{% endblock %}

{% load monapp.durée_format %}

{% block content %}
<h1>{{programme.titre}}</h1>

<div> But : {{programme.but}}</div>
<br>
<div>Description :{{programme.description}}</div>
<br>
{% if programme.nombre_exercices %}
<div> Nombre d'exercices :{{programme.nombre_exercices}}</div>
<br>
{% endif %}
<div> Ce programme a une durée d'environ {{programme.durée|durée_format}}</div>
<br>

<a href="{% url 'liste-programmes' utilisateur.id %}">Retourner à la bibliothèque de programmes</a>
<a href="{% url 'ajouter-activité-programme' programme.id utilisateur.id %}">Utiliser ce programme</a>
{% if programme.utilisateur %}
<a href="{% url 'modifier-programme' programme.id %}">Modifier le programme</a>
<a href="{% url 'supprimer-programme' programme.id %}">Supprimer le programme</a>
{% endif %}

{% endblock %}


   